/* Test */
@import '_colours';
@import '_typography';
@import 'design-patterns/_alpha-beta';


body {
}


h1 {
@include heading-48;
font-size: 300%;
font-weight: bold;
}

h2 {
@include heading-36;
font-weight: bold;
}


h3 {
}

p {
@include copy-16;
}

.intro {
@include copy-19;
}


input  {
font-family: "nta",Arial,sans-serif;
font-size: 19px;
line-height: 1.31579;
font-weight: 400;
text-transform: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 600px;
margin: 0 -3px 0 0;
padding: 0 0 0 0;
display: inline;
height: 50px;
border: 1px solid #bfc1c3;
line-height: 48px!important;
}



/* Search results layout */


#outer-wrapper {
max-width: 1020px;
margin: 0 auto;
overflow: auto;
}

#inner-wrapper {
}

#search {
display: inline;
width: 100%;
}


#box-filter {
width: 33.3333%;
float: left;
}

#box-filter {
width: 33.3333%;
float: left;
}

#filter-inner {
padding-right: 60px;
}


#box-results {
width: 66.6666665%;
float: right;
}

/* Search */

.searchterm {
background: #f1f1f1;
padding: 2px;
}


#sheader {
margin: 20px 0 0 0;
width: 930px;
}

#searchops {
overflow: auto;
margin-top: -5px;
border-bottom: 1px solid #bfc1c3;
}




/* Filter */

.cat {
@include copy-14;
font-weight: bold;
margin-top: 15px;
margin-bottom: -3px;
}

/* Results */

.single-row-select {
border: 1px solid #bfc1c3;
padding: 5px 5px 5px 10px;
width: 100%;
background: #fff;
background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/dropdown-arrow-small-a4f4e2df48e8d34de458bddf58e83a8a.png);
background-repeat: no-repeat;
background-position: right center;
-webkit-box-shadow: 1px 1px 1px #fff;
-moz-box-shadow: 1px 1px 1px #fff;
box-shadow: 1px 1px 1px #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-appearance: none;
-moz-appearance: none;

}

.count { 
font-family: "nta","GDS-Regular",sans-serif;
font-size: 48px;
font-weight: bold;
line-height: 1;
padding-right: 10px;
text-transform: none;
float: left;
}

#rslt {
border-bottom: 1px solid #bfc1c3;
}

.supplier {
font-size: 18px;
font-weight: bold;
margin-bottom: -20px;
}

#list-results {
padding: 10px 0 0 0}

#feedback {
overflow: auto;
margin-bottom: 30px;}

.feedback { 
font-size: 10px;}


#feedbackbutton { 
font-size: 19px;
float: left;
display: inline;
background: #f1f1f1;
border-bottom: 2px solid #ccc;
padding: 1px 10px 1px 10px;
margin: 7px 10px 0 0;
}


#supplier-logo {
height: 50px;
width: 50px;
float: right;
margin: 20px 0 20px 20px;}

#phase-notice {
@include phase-banner(alpha);
}

.alpha-tag {
@include phase-tag(alpha);
}





/* Search result styling */

.product {
font-size: 20px;
font-weight: bold;
margin-bottom: -20px;
}

.supplier {
font-size: 14px;
color: grey;
}






/* Listing page layout */

h1 {
font-size: 48px;}

#mcontent { 
width: 66.66666665%;
float: left;
}

#infocol {
margin-top: 3em;
width: 33.333333%;
float: right;
border-top: 10px solid #d53880;
}


#infocol p {
margin-bottom: -17px;
}

#infocol h3 {
margin-bottom: 25px;
font-size: 24px;}

.listingh {
font-size: 24px;
margin-bottom: -10px;}


#keyfeatures ul li {
font-size: 19px;
}

ul li {
@include copy-19;}

.price {
font-size: 38px;
font-weight: bold;}



#line {
width: 60%;
height: 1px;
background: #ccc;
display: block;
margin: 50px 0 20px 0;
}

/* Fake Accordion */


#fakeaccordion {
background: #dee0e2;
border: 1px dotted #a1acb2;
overflow: auto;
margin: 5px 5px 5px 0;
padding: 5px;
}

#catname {
float: left;}

#exp { 
float: right;
font-size: 14px;
margin: 3px 3px 0 0;
}

table {
width: 99.4%;
border: 1px dotted #a1acb2;
padding: 1px;
margin: -6px 5px 0 0;
}

td { 
width: 70%;
padding: 10px;
}

.tick {
font-size: 18px;
color: #20C983;
margin-left: 10px;}

.cross {
font-size: 30px;
color: #D43552;
margin-left: 10px;
}

.alternate {
background: #eaedef;}

#spacer {
height: 100px;
}







/*Home placeholder*/


#cloudstore {
margin: 30px 0 0px 0;}

#holder {
overflow: auto;
width: 1020px;
}


#homeplaceholder {
float: left;
width: 40%;
height: 250px;
padding: 0px;
margin: 20px 20px 5px 0;
border: 2px solid #f1f1f1;
background: #f1f1f1;}







/* Search revised */


@media(max-width:640px) {
    main.search h1 {
        font-size: 20px;
        line-height: 1.2;
    }
}

main.search .search-header {
    position: relative;
    margin: 0;
    padding: 10px 15px 15px;
    overflow: visible;
}

@media(min-width:641px) {
    main.search .search-header {
        width: 66.666%;
        padding: 20px 30px 30px 0px;
    }
}

main.search .search-header .searchfield {
    position: relative;
}

main.search .search-header .search-input {
    position: static;
    margin: 0;
    padding: 0 50px 0 0;
}

main.search .search-header .search-submit {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    overflow: visible;
}





main.search .search-header input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 0 0 10px;
    border-right: none;
    border-color: #bfc1c3;
    text-transform: none;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    line-height: 48px!important;
}

@media(max-width:640px) {
    main.search .search-header input {
        font-size: 16px;
        line-height: 1.25;
    }
}

main.search .search-header input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

main.search .search-header button {
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: #2b8cc4;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/frontend/search/search-button-ae8b4a52fcf80102a4ebccdde74bd46c.png);
    background-position: -12.5% 50%;
    background-repeat: no-repeat;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

main.search .search-header button:hover {
    background-color: #267daf;
}



