<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Cache control test page 2</title>
  </head>
  <body>
    <form action="cache-control-final" method="post">
      <h1>What about your dog?</h1>
      <label for="dogName">
        Name
        <input type="text" autocomplete="off" name="dogName" id="dogName" value="{{dogName}}" />
      </label>
      <label for="dogAge">
        Age
        <input type="text" autocomplete="off" name="dogAge" id="dogAge" value="{{dogAge}}" />
      </label>
      <fieldset>
        <label for="dogImage1">
          He's annoying
          <input type="checkbox" name="dogImage1" id="dogImage1" value="annoying" {{dogImage1}} />
        </label>
        <label for="dogImage2">
          He chases cars
          <input type="checkbox" name="dogImage2" id="dogImage2" value="carChaser" {{dogImage2}} />
        </label>
      </fieldset>
      <input type="submit" value="Continue" />
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript">
      window.addEventListener('unload', function(){}, false); // Does nothing but break the bfcache
      var controls,
          idx;

      if (typeof document.querySelectorAll !== 'undefined') { 
        controls = document.querySelectorAll('input[type="radio"], input[type="checkbox"]');
        idx = controls.length;
        while (idx--) {
          if (controls[idx].getAttribute('checked') !== null) {
            controls[idx].checked = 'checked';
          }
        }
      }
    </script>
  </body>
</html>
