<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Cache control test page 2</title>
  </head>
  <body>
    <form action="cache-control-final" method="post">
      <h1>What about your dog?</h1>
      <label for="dogName">
        Name
        <input type="text" autocomplete="off" name="dogName" id="dogName" value="{{dogName}}" />
      </label>
      <label for="dogAge">
        Age
        <input type="text" autocomplete="off" name="dogAge" id="dogAge" value="{{dogAge}}" />
      </label>
      <input type="submit" value="Continue" />
    </form>
  </body>
</html>
