<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Cache control test page results</title>
  </head>
  <body>
      <h1>All your info</h1>
      <h2>You</h2>
      <p>First name: {{firstName}}</p>
      <p>Last name: {{lastName}}</p>
      <p>Age: {{age}}</p>
      <h2>Your dog</h2>
      <p>His name: {{dogName}}</p>
      <p>His age: {{dogAge}}</p>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </body>
</html>
