<html>
<main id="content" role="main">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">

<div id="infocol">

<h3>Supplier information</h3>
<div id="brandbanner"><img src="../public/images/large/umbraco.png" alt="umbraco" width="200" /></div>



<p class="intro"><strong>Provider</strong></p>
<p class="intro"><a href="#">Connect Internet Solutions Ltd</a></p>

<p class="intro"><strong>Supplier name</strong></p>
<p class="intro">Will Ferrell</p>
<p class="intro"><strong>Supplier email address</strong></p>
<p class="intro"><a href="mailto:will@email.com">will@email.com</a></p>
<p class="intro"><strong>Contact number</strong></p>
<p class="intro">01865 863034</p>

<div id="line"></div>

<h3>Product feedback</h3>
<div id="feedback"><div id="feedbackbutton">0 use it</div> <div id="feedbackbutton">0 recommend it</div></div>
<p>
</div>
</div>

<p><a href="/">Home</a> > <a href="search_results.html">Search results</a> > Umbraco</p>




<h1>Umbraco</h1>

 
<div id="mcontent">

<h3 class="listingh">What is it?</h3>
<p class="intro">Cloud content management system</p>


<h3 class="listingh">Pricing</h3>
<p class="intro"><span class="price">£775.00</span> per month</p>
</ul>


<h3 class="listingh">Description</h3>
<p class="intro">Our Umbraco CMS service provides a flexible, end-to-end, access-from-anywhere solution for website content management and hosting. Using the open source Umbraco CMS and honed through many years delivering CMS services to the public sector, this is modular, scalable and affordable approach to website content management. Connect is a certified Umbraco Partner.</p>

<h3 class="listingh">Key features</h3>

<ul id="keyfeatures">
<li>Cloud content management system</li>
<li>Add user profiles</li>
<li>Easy-to-use interface</li>
</ul>


<h3>Feature details</h3>
<div id="features">


<div id="fakeaccordion">

<div id="catname"><h3>CMS</h3></div>
<div id="exp"><a href="#">Expand</a></div>
</div>


<div id="fakeaccordion">
<div id="catname"><h3>Security</h3></div>
<div id="exp"><a href="#">Expand</a></div>
</div>

<div id="fakeaccordion">
<div id="catname"><h3>Technical</h3></div>
<div id="exp"><a href="#">Expand</a></div>
</div>


<div id="fakeaccordion">
<div id="catname"><h3>Anti-spam</h3></div>
<div id="exp"><a href="#">Expand</a></div>
</div>


<div id="fakeaccordion">
<div id="catname"><h3>Personalisation</h3></div>
<div id="exp"><a href="#">Expand</a></div>
</div>

<div id="fakeaccordion">
<div id="catname"><h3>Main CMS features</h3></div>
<div id="exp"><a href="#">Close</a></div>
</div>

<table class="features">

	<tr>
		<td>Service features</td>
		<td>Free option available &middot on boarding documented &middot off boarding documented &middot unit based pricing available</td> 
	</tr>

	
	<tr class="alternate">
		<td>Content management system</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
	
	<tr>
		<td>User profiles</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
		<tr class="alternate">
		<td>On-boarding process e.g. moving on to the service </td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
	
	<tr>
		<td>Easy-to-use interface</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
		<tr class="alternate">
		<td>Help and support</td>
		<td><span class="tick">&#10004;</span></td> 
	</tr>
	
	<tr>
		<td>Plugin/extension ready</td>
		<td><span class="cross">&#65794;</span></td>
	</tr>
			<tr class="alternate">
		<td>Project management capabilities</td>
		<td><span class="cross">&#65794;</span></td>
	</tr>
</table>

	
	<div id="fakeaccordion">
<div id="catname"><h3>Misc</h3></div>
<div id="exp"><a href="#">Expand</a></div>
</div>


<div id="spacer">
</div>
	



</div>

</div>

</div>
</main>
</body>
</html>
