/* Test */
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/


h1 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 300%;
  font-weight: bold; }
  @media (max-width: 640px) {
    h1 {
      font-size: 32px;
      line-height: 1.09375; } }
  @media (min-width: 641px) {
    h1 {
      padding-top: 7px;
      padding-bottom: 13px; } }

h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  font-weight: bold; }
  @media (max-width: 640px) {
    h2 {
      font-size: 24px;
      line-height: 1.04167; } }
  @media (min-width: 641px) {
    h2 {
      padding-top: 6px;
      padding-bottom: 9px; } }


p {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px; }
  @media (max-width: 640px) {
    p {
      font-size: 14px;
      line-height: 1.14286; } }
  @media (min-width: 641px) {
    p {
      padding-top: 5px;
      padding-bottom: 5px; } }

.intro {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px; }
  @media (max-width: 640px) {
    .intro {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .intro {
      padding-top: 0;
      padding-bottom: 5px; } }

input {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 600px;
  margin: 0 -3px 0 0;
  padding: 0 0 0 0;
  display: inline;
  height: 50px;
  border: 1px solid #bfc1c3;
  line-height: 48px !important; }

/* Search results layout */
#outer-wrapper {
  max-width: 1020px;
  margin: 0 auto;
  overflow: auto; }


#search {
  display: inline;
  width: 100%; }

#box-filter {
  width: 33.3333%;
  float: left; }

#box-filter {
  width: 33.3333%;
  float: left; }

#filter-inner {
  padding-right: 60px; }

#box-results {
  width: 66.66667%;
  float: right; }

/* Search */
.searchterm {
  background: #f1f1f1;
  padding: 2px; }

#sheader {
  margin: 20px 0 0 0;
  width: 930px; }

#searchops {
  overflow: auto;
  margin-top: -5px;
  border-bottom: 1px solid #bfc1c3; }

/* Filter */
.cat {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: -3px; }
  @media (max-width: 640px) {
    .cat {
      font-size: 12px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .cat {
      padding-top: 5px;
      padding-bottom: 5px; } }

/* Results */
.single-row-select {
  border: 1px solid #bfc1c3;
  padding: 5px 5px 5px 10px;
  width: 100%;
  background: #fff;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/dropdown-arrow-small-a4f4e2df48e8d34de458bddf58e83a8a.png);
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -moz-box-shadow: 1px 1px 1px #fff;
  box-shadow: 1px 1px 1px #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none; }

.count {
  font-family: "nta", "GDS-Regular", sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  padding-right: 10px;
  text-transform: none;
  float: left; }

#rslt {
  border-bottom: 1px solid #bfc1c3; }

.supplier {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -20px; }

#list-results {
  padding: 10px 0 0 0; }

#feedback {
  overflow: auto;
  margin-bottom: 30px; }

.feedback {
  font-size: 10px; }

#feedbackbutton {
  font-size: 19px;
  float: left;
  display: inline;
  background: #f1f1f1;
  border-bottom: 2px solid #ccc;
  padding: 1px 10px 1px 10px;
  margin: 7px 10px 0 0; }

#supplier-logo {
  height: 50px;
  width: 50px;
  float: right;
  margin: 20px 0 20px 20px; }

#phase-notice {
  padding: 8px 0;
  background-color: #d53880; }
  #phase-notice p {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    color: #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none; }
    @media (max-width: 640px) {
      #phase-notice p {
        font-size: 14px;
        line-height: 1.14286; } }
  #phase-notice a, #phase-notice a:link, #phase-notice a:visited, #phase-notice a:active {
    color: #0b0c0c; }
  #phase-notice a:hover {
    color: #0b0c0c; }

.alpha-tag {
  display: -moz-inline-stack;
  display: inline-block;
  background-color: #d53880;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 3px 10px 0 5px;
  padding: 2px 5px 0; }
  @media (max-width: 640px) {
    .alpha-tag {
      font-size: 14px;
      line-height: 1.14286; } }

/* Search result styling */
.product {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -20px; }

.supplier {
  font-size: 14px;
  color: grey; }

/* Listing page layout */
h1 {
  font-size: 48px; }

#mcontent {
  width: 66.66667%;
  float: left; }

#infocol {
  margin-top: 3em;
  width: 33.33333%;
  float: right;
  border-top: 10px solid #d53880; }

#infocol p {
  margin-bottom: -17px; }

#infocol h3 {
  margin-bottom: 25px;
  font-size: 24px; }

.listingh {
  font-size: 24px;
  margin-bottom: -10px; }

#keyfeatures ul li {
  font-size: 19px; }

ul li {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px; }
  @media (max-width: 640px) {
    ul li {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    ul li {
      padding-top: 0;
      padding-bottom: 5px; } }

.price {
  font-size: 38px;
  font-weight: bold; }

#line {
  width: 60%;
  height: 1px;
  background: #ccc;
  display: block;
  margin: 50px 0 20px 0; }

/* Fake Accordion */
#fakeaccordion {
  background: #dee0e2;
  border: 1px dotted #a1acb2;
  overflow: auto;
  margin: 5px 5px 5px 0;
  padding: 5px; }

#catname {
  float: left; }

#exp {
  float: right;
  font-size: 14px;
  margin: 3px 3px 0 0; }

table {
  width: 99.4%;
  border: 1px dotted #a1acb2;
  padding: 1px;
  margin: -6px 5px 0 0; }

td {
  width: 70%;
  padding: 10px; }

.tick {
  font-size: 18px;
  color: #20C983;
  margin-left: 10px; }

.cross {
  font-size: 30px;
  color: #D43552;
  margin-left: 10px; }

.alternate {
  background: #eaedef; }

#spacer {
  height: 100px; }

/*Home placeholder*/
#cloudstore {
  margin: 30px 0 0px 0; }

#holder {
  overflow: auto;
  width: 1020px; }

#homeplaceholder {
  float: left;
  width: 40%;
  height: 250px;
  padding: 0px;
  margin: 20px 20px 5px 0;
  border: 2px solid #f1f1f1;
  background: #f1f1f1; }

/* Search revised */
@media (max-width: 640px) {
  main.search h1 {
    font-size: 20px;
    line-height: 1.2; } }

main.search .search-header {
  position: relative;
  margin: 0;
  padding: 10px 15px 15px;
  overflow: visible; }

@media (min-width: 641px) {
  main.search .search-header {
    width: 66.666%;
    padding: 20px 30px 30px 0px; } }

main.search .search-header .searchfield {
  position: relative; }

main.search .search-header .search-input {
  position: static;
  margin: 0;
  padding: 0 50px 0 0; }

main.search .search-header .search-submit {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  overflow: visible; }

main.search .search-header input {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0 0 0 10px;
  border-right: none;
  border-color: #bfc1c3;
  text-transform: none;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.31579;
  line-height: 48px !important; }

@media (max-width: 640px) {
  main.search .search-header input {
    font-size: 16px;
    line-height: 1.25; } }

main.search .search-header input::-webkit-search-cancel-button {
  -webkit-appearance: none; }

main.search .search-header button {
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  text-indent: -5000px;
  color: #fff;
  background-color: #2b8cc4;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/frontend/search/search-button-ae8b4a52fcf80102a4ebccdde74bd46c.png);
  background-position: -12.5% 50%;
  background-repeat: no-repeat;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

main.search .search-header button:hover {
  background-color: #267daf; }
