<html>
<main id="content" role="main" class="group search ancillary">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">
<p><a href="index.html">Home</a></p>


<form action="https://www.gov.uk/search" method="get" accept-charset="utf-8" class="search-header search-header-2 js-search-hash" role="search">
  
 
  <div class="searchfield">
    <fieldset class="search-input">
<label for="search-main">
          <span class="visuallyhidden">Search</span>
      </label>
      <input type="search" name="q" value="Search" id="search-main">
</fieldset>
<fieldset class="search-submit">
<button type="submit" class="button">Search</button>
    </fieldset>
</div>
</form>
    
</div>
</div>
</div>
</main>
</body>
</html>