<html>
<main id="content" role="main" class="group search ancillary">

<body>
<div id="outer-wrapper">
<div id="inner-wrapper">



<form action="search_results.html" method="get" accept-charset="utf-8" class="search-header search-header-2 js-search-hash" role="search">
 
  <div class="searchfield">
    <fieldset class="search-input">
<label for="search-main">
          <span class="visuallyhidden">Search</span>
      </label>
      <input type="search" name="q" value="Search" id="search-main">
</fieldset>
<fieldset>
<button type="submit" class="button">Search</button>
    </fieldset>
   
   </div>
    
<div id="cloudstore">
<h1>CloudStore</h1>
</div>
 <div id="holder">
    
 <div id="homeplaceholder">
 </div>
     
 <div id="homeplaceholder">
 </div>

 <div id="homeplaceholder">
 </div>
     
 <div id="homeplaceholder">
 </div>

</div>



    
</div>
</form>
    
</div>
</div>
</div>
</main>
</body>
</html>